#ba-admin-wrap h3 { margin: 1em 1em; }
#ba-admin-wrap .postbox > p { margin: 1em 2em; }
.ba-form-block {
    clear: both;
    height: 4em;
}
.form-table { margin: 1em 2em; }

.ba-settings-list { float: left; font-size: 1.2em; margin-bottom: 1em; }
.ba-settings-list dt { float: left; width: 10em; clear: both; }
.ba-settings-list dd { float: left; }

h2 { clear: both; }

table#adblock-counter-statistic {
    clear: both; 
    text-align: left;
    font-size: 1.4em; 
}
table#adblock-counter-statistic td:not(:first-child) { text-align: right; }
table#adblock-counter-statistic td,
table#adblock-counter-statistic th { padding: .3em; padding-right: 1em; }
table#adblock-counter-statistic .compare_submit { font-size: .7em; border: solid 1px #333; cursor: pointer; }

input[type="submit"] { border: solid 1px #333; font-size: 1.4em; }
input[type="submit"]:hover { cursor: pointer; background: #fff; }
.reset input[type="submit"]:hover { background: red; cursor: pointer; }

.success { color: green; }
.warning { color: red; }
.clear { clear: both; }