table#adblock-counter-statistic {
    text-align: left;
}

table#adblock-counter-statistic td,
table#adblock-counter-statistic th {
    padding: .3em;
    padding-right: 1em;
}

table#adblock-counter-statistic .headline th{
    font-size: 1.5em;
    padding-top: 1em;
}

table#adblock-counter-statistic tr td:nth-child(4){
    color: grey;
}