.abc-form-block {
    clear: both;
    height: 4em;
}

.abc-form-block form {
    float: left;
    width: 14em;
}

.abc-form-block p.description {
    float: left;
}
    
.abc-form-block .start {
    color: green;
}

.abc-form-block .stop {
    color: orange;
}

table#adblock-counter-statistic {
    text-align: left;
}

table#adblock-counter-statistic td,
table#adblock-counter-statistic th {
    padding: .3em;
    padding-right: 1em;
}

table#adblock-counter-statistic .headline th{
    font-size: 1.5em;
    padding-top: 1em;
}

table#adblock-counter-statistic tr td:nth-child(4){
    color: grey;
}